body {
  padding-top: 60px; }

body, label, .checkbox label {
  font-weight: 300; }

#footer {
  position: absolute;
  bottom: 0;
  width: 644px;
  height: 20px;
  margin: 0 0 15px 30px; }

.shine {
  color: #fff !important; }

th, td {
  padding: 4px;
}

th {
  text-align: center;
}

table {
  border-spacing: 4px;
}

.ready {
  color: green;
  font-weight: bold;
}

.allocated {
  color: blue;
  font-weight: bold;
}

.returned {
  color: gray;
  font-weight: bold;
}

.rendering {
  color: red;
  font-weight: bold;
}

.complete, .done {
  color: darkred;
  font-weight: bold;
}

.srs-link {
  font-weight: bold;
}

.srs-title {
  font-weight: bold;
  color: greenyellow !important;
}

.srs-label {
  font-weight: bold;
}

.srs-id {
  text-align: center;
}

.srs-footer {
  margin-top: 20px;
  text-align: center;
}

.content p, .content li {
  font-size: 1.4em;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: darkred;
  font-weight: bold;
}